<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Jobbook</title>
  <meta name="Author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- build:css build/css/main.min.css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="build/css/main.css">
  <!-- endbuild -->
</head>

<body>
  <header>
    <a href="#" class="logo">
      <img src="build/img/logo-main.svg" alt="Jobbook">
    </a>
    <nav>
      <ul>
        <li class="b-item">
        <a href="#">
          <img src="build/img/icon-clock.svg">
          <span>Time Track</span>
          </a>
        </li>
        <li class="w-sub"><a href="#">Jobs</a>
          <ul>
            <li>
              <a href="#">
               <i class="nav-icon">
                  <img src="build/img/icon-book.svg">
                </i>
                <span>List all jobs</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                <img src="build/img/icon-write.svg">
               </i>
                <span>Add new job</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                  <img src="build/img/icon-search.svg">
                </i>
                <span>Search for job</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                  <img src="build/img/icon-pin.svg">
                </i>
                <span>Bookmarks</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="w-sub">
        <a href="#">Clients</a>
          <ul>
            <li>
              <a href="#">
               <i class="nav-icon">
                <img src="build/img/icon-users.svg">
               </i>
                <span>List of clients</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                <img src="build/img/icon-write.svg">
               </i>
                <span>Add new client</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                 <img src="build/img/icon-search.svg">
                </i>
                <span>Search for client</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <input class="searchbox" type="text">
    <div class="r-item">
      <a href="#"><img src="build/img/icon-user.svg"></a>
    </div>
  </header>

  <section class="margin-t200" id="js-jobs">
    <h2>Jobs</h2>
    <ul class="breadcrumbs">
     <li><a href="#" class="active">All</a></li>
      <li><a href="#">Recent updated</a></li>
      <li><a href="#">Archived</a></li>
    </ul>
    
    <div class="container">
      <ul class="job-list" id="js-joblist">
        <li>
         <a href="/details.html">
           <div class="job-placeholder js-rand"><span>MS</span></div>
            <div class="job-info">
              <h4>MICROSOFT</h4>
              <h5>Custom Services SYSTEM</h5>
              <div class="progress">
                <h6>Budget <span>50%</span></h6>
                <div class="status  js-progress" data-progress="50">
                  <span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/details.html">
            <div class="job-placeholder js-rand"><span>MD</span></div>
            <div class="job-info">
              <h4>McDonalds</h4>
              <h5>LANDING PAGE FOR NEW A PRODUCT</h5>
              <div class="progress">
                <h6>Budget <span>10%</span></h6>
                <div class="status js-progress" data-progress="10">
                  <span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/details.html">
            <div class="job-placeholder js-rand"><span>SK</span></div>
            <div class="job-info">
              <h4>SKYPE</h4>
              <h5>new app for windows mobile</h5>
              <div class="progress">
                <h6>Budget <span>30%</span></h6>
                <div class="status  js-progress" data-progress="30">
                  <span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/details.html">
            <div class="job-placeholder js-rand"><span>JB</span></div>
            <div class="job-info">
              <h4>JOBBOOK</h4>
              <h5>New Design</h5>
              <div class="progress">
                <h6>Budget <span>90%</span></h6>
                <div class="status js-progress" data-progress="90">
                  <span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        </ul>
    </div>
  </section>
  
  <!-- build:js build/js/bundle.min.js -->
  <script src="build/js/vendors.js"></script>
  <script src="build/js/main.js"></script>
  <!-- endbuild -->

</body>

</html>