// Fonts
$main-font: 'Titillium Web', sans-serif;

// Colors
$color-dark-blue: #031e2f;
$color-light-blue: #1e90ff;
$color-mid-blue: #07263a;

$color-green: #40d47e;


//$color-bg: #FECB6E;
$color-bg: transparent;
$color-bg: #ebf2f8;

$color-dark: #362233;

$color-black: #2f2f2f;

$color-grey: #535353;
$color-mid-grey: #bdc3c7;
$color-light-grey: #f4f4f4;

$color-red: #e65643;

$color-nav: #fff;
$color-nav-hover: #40d47e;
