{% extends 'core/base/base.html' %}
{% block title %} Job List {% endblock %}

{% block content %}
<section class="details margin-t200 margin-b40-h2" id="js-clientdetails">
  <h2>{{ client.company }}</h2>

  <div class="container">
    <div class="header-info">
      <div class="avatar js-rand"><span>SK</span></div>
      <div class="desc">
        <p><strong>CCO: </strong>{{ client }}</p>
        <p><strong>Email: </strong>{{ client.email }}</p>
        <p><strong>Phone: </strong>{{ client.phone_number }}</p>
      </div>
      <div class="report-status">
        <p><strong>Status:</strong>10H / 100H</p>
        <p><strong>Hourly rate:</strong>$50</p>
        <p><strong>Status 03:</strong>undefined</p>
        <div class="progress">
          <h6>Budget <span>50%</span></h6>
          <div class="status js-progress" data-progress="50">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3>Projects</h3>
    <ul class="breadcrumbs">
      <li><a href="#" class="active">All</a></li>
      <li><a href="#">Recents Tasks</a></li>
      <li><a href="#">Older Tasks</a></li>
    </ul>
    <table class="tasks-table" cellpadding="0" cellspacing="0">
      <tr>
        <th>Task Description</th>
        <th>Time Spent</th>
        <th>When</th>
      </tr>
      <tr>
        <td>BACKING UP OLD FILES</td>
        <td>2.5H</td>
        <th>05/02/2015</th>
      </tr>
      <tr>
        <td>CREATING A NEW TEMPLATE, PROTOTYPING</td>
        <td>2.5H</td>
        <th>YESTERDAY</th>
      </tr>
      <tr>
        <td>BACK-END PROPOSAL</td>
        <td>5H</td>
        <th>YESTERDAY</th>
      </tr>
    </table>
  </div>
</section>

<section>
  <div class="container">
    <h3>Accomplished tasks</h3>
    <ul class="breadcrumbs">
      <li><a href="#" class="active">All</a></li>
      <li><a href="#">Recents Tasks</a></li>
      <li><a href="#">Older Tasks</a></li>
    </ul>
    <table class="tasks-table" cellpadding="0" cellspacing="0">
      <tr>
        <th>Task Description</th>
        <th>Time Spent</th>
        <th>When</th>
      </tr>
      <tr>
        <td>BACKING UP OLD FILES</td>
        <td>2.5H</td>
        <th>05/02/2015</th>
      </tr>
      <tr>
        <td>CREATING A NEW TEMPLATE, PROTOTYPING</td>
        <td>2.5H</td>
        <th>YESTERDAY</th>
      </tr>
      <tr>
        <td>BACK-END PROPOSAL</td>
        <td>5H</td>
        <th>YESTERDAY</th>
      </tr>
    </table>
  </div>
</section>

<ul class="edit-popup" id="js-edit-task">
  <li><a href="#">Edit Task</a></li>
  <li><a href="#">Delete Task</a></li>
  <li><a href="#">Cancel</a></li>
</ul>


{% endblock %}
