{% extends 'core/base/base.html' %}
{% block title %} Job List {% endblock %}

{% block content %}
<section class="details margin-t200" id="js-jobdetails">
  <h2>{{ job.job_name }}</h2>
  <p class="info"><a href="#">{{ job.client }}</a> / {% if job.job_created %}created on {{ job.job_created }} {% endif %}<span>ARCHIVED</span></p>

  <div class="container">
    <div class="header-info">
      <div class="avatar js-rand"><span>SK</span></div>
      <div class="desc">
        <span>Description</span>
        <p>{{ job.job_description }}</p>
      </div>
      <div class="report-status">
        <p><strong>Status:</strong>10H / 100H</p>
        <p><strong>Hourly rate:</strong>${{ job.hourly_rate }}</p>
        <p><strong>Status 03:</strong>undefined</p>
        <div class="progress">
          <h6>Budget <span>50%</span></h6>
          <div class="status js-progress" data-progress="50">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3>Related tasks</h3>
    <ul class="breadcrumbs">
      <li><a href="#" class="active">All</a></li>
      <li><a href="#">Recents Tasks</a></li>
      <li><a href="#">Older Tasks</a></li>
    </ul>
    <table class="tasks-table" cellpadding="0" cellspacing="0">
      <tr>
        <th>Task Description</th>
        <th>Time Spent</th>
        <th>When</th>
      </tr>
      {% for task in tasks %}
        <tr>
          <td>{{ task }}</td>
          <td>{{ task.task_time }}</td>
          <th>{{ task.task_created }}</th>
        </tr>
      {% endfor %}
    </table>
  </div>
</section>

<ul class="edit-popup" id="js-edit-task">
  <li><a href="#" name="edit">Edit Task</a></li>
  <li><a href="#" name="delete">Delete Task</a></li>
  <li><a href="#" name="cancel">Cancel</a></li>
</ul>

{% include 'core/base/modal-job.html' %}

{% endblock %}
