{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{%block title %}{% endblock %}</title>
  <meta name="Author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- build:css build/css/main.min.css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!-- endbuild -->
</head>

<body>
  <header>
    <a href="/" class="logo">
      <img src="{% static 'img/logo-main.svg' %}" alt="Jobbook">
    </a>
    <nav>
      <ul>
        <li class="b-item">
        <a href="#">
          <img src="{% static 'img/icon-clock.svg' %}">
          <span>Time Track</span>
          </a>
        </li>
        <li class="w-sub"><a href="#">Jobs</a>
          <ul>
            <li>
              <a href="#">
               <i class="nav-icon">
                  <img src="{% static 'img/icon-book.svg' %}">
                </i>
                <span>List all jobs</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                <img src= "{% static 'img/icon-write.svg' %}">
               </i>
                <span>Add new job</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                  <img src= "{% static 'img/icon-search.svg' %}">
                </i>
                <span>Search for job</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                  <img src= "{% static 'img/icon-pin.svg' %}">
                </i>
                <span>Bookmarks</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="w-sub">
        <a href="#">Clients</a>
          <ul>
            <li>
              <a href="#">
               <i class="nav-icon">
                <img src= "{% static 'img/icon-users.svg' %}">
               </i>
                <span>List of clients</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                <img src= "{% static 'img/icon-write.svg' %}">
               </i>
                <span>Add new client</span>
              </a>
            </li>
            <li>
              <a href="#">
               <i class="nav-icon">
                 <img src= "{% static 'img/icon-search.svg' %}">
                </i>
                <span>Search for client</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <input class="searchbox" type="text">
    <div class="r-item">
      <a href="#"><img src= "{% static 'img/icon-user.svg' %}"></a>
    </div>
  </header>
  
  {%block content %}
  {% endblock %}

  <!-- build:js build/js/bundle.min.js -->
  <script src= "{% static 'js/vendors.js' %}"></script>
  <script src= "{% static 'js/main.js' %}"></script>
  <!-- endbuild -->

</body>

</html>
