<div class="modal-user js-modaluser">
  <ul>
    <li>
      <a href="#">
        <i class="modal-icon pin"></i>
        <span>Edit Profile</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="modal-icon pin"></i>
        <span>FAQ / Helper</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="modal-icon pin"></i>
        <span>Logout</span>
      </a>
    </li>
    <li>
      <a href="#" class="js-cancelmodal">
        <i class="modal-icon pin"></i>
        <span>Cancel</span>
      </a>
    </li>
  </ul>
</div>