body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-size: 95%;
  line-height: 25px;
  background: #ebf2f8;
  &.hidden {
    overflow: hidden;
  }
}

.avatar {
  display: inline-table;
  width: 118px;
  height: 120px;
  background: $color-light-grey;
  border-radius: 3px;
  transition: transform .5s ease;
  border-radius: 3px;
  span {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
  }
  img {
    filter: grayscale(1);
    mix-blend-mode: multiply;
    width: 80px;
    height: auto;
    text-align: center;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}
